[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
spyne = "*"
psycopg2 = "*"
psycopg = "*"
lxml = "*"
djangorestframework = "*"
pillow = "*"
six = "*"
pytz = "*"
asgiref = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
